.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.header h1 {
  margin: 0;
}

.titleSection {
  width: 200px;
}

.connectSection {
  width: auto;
  display: flex;
  align-items: center;
}
